.scroller {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
}

.card {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  transition: transform 0.2s ease;
  box-shadow: 0 0 100px rgba(229, 9, 20, 0.3);
  text-shadow: 0 0 6px #e50914cc;
}


.card:hover {
  transform: scale(1.03);
  text-shadow: 0 0 12px #e50914cc, 0 0 6px #fff2;
  box-shadow: 0 0 18px #e50914aa;
}


.image {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  object-fit: cover;
  max-height: 8000px;
}
